{% extends "base.html" %}

{% block content %}
<h1>Design a sock</h1>
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <p>
        {{ form.spi.label }}<br>
        {{ form.spi(size=32) }}
    </p>
    <p>
        {{ form.row_gauge.label }}<br>
        {{ form.row_gauge(size=32) }}
    </p>
    <p>
        {{ form.foot_circ.label }}<br>
        {{ form.foot_circ(size=32) }}
    </p>
    <p>
        {{ form.ankle_circ.label }}<br>
        {{ form.ankle_circ(size=32) }}
    </p>
    <p>
        {{ form.gusset_circ.label }}<br>
        {{ form.gusset_circ(size=32) }}
    </p>
    <p>
        {{ form.foot_length.label }}<br>
        {{ form.foot_length(size=32) }}
    </p>
    <p>
        {{ form.low_calf_circ.label }}<br>
        {{ form.low_calf_circ(size=32) }}
    </p>
    <p>
        {{ form.heel_diag.label }}<br>
        {{ form.heel_diag(size=32) }}
    </p>
    <p>
        {{ form.leg_length.label }}<br>
        {{ form.leg_length(size=32) }}
    </p>
    <p>{{ form.submit() }}</p>
</form>
{% endblock %}