{% extends "base.html" %}

{% block content %}
<h1>Build a sock pattern</h1>

<form action="" method="post" novalidate>

    <h2>Measurements</h2>
        <!--<img src="{{ url_for('static', filename='foot-diagram.png') }}">-->
        <p>
            {{ form.foot_circ.label }}<br>
            {{ form.foot_circ(size=2) }}
        </p>
        <p>
            {{ form.ankle_circ.label }}<br>
            {{ form.ankle_circ(size=2) }}
        </p>
        <p>
            {{ form.gusset_circ.label }}<br>
            {{ form.gusset_circ(size=2) }}
        </p>
        <p>
            {{ form.foot_length.label }}<br>
            {{ form.foot_length(size=2) }}
        </p>
        <p>
            {{ form.low_calf_circ.label }}<br>
            {{ form.low_calf_circ(size=2) }}
        </p>
        <p>
            {{ form.heel_diag.label }}<br>
            {{ form.heel_diag(size=2) }}
        </p>
        <p>
            {{ form.leg_length.label }}<br>
            {{ form.leg_length(size=2) }}
        </p>
        <p>{{ form.submit() }}</p>

</form>

{% endblock %}