{% extends "base.html" %}

{% block app_content %}

<h2>Gauge</h2>

    <form action="" method="post">

        {{ form.hidden_tag() }}

            <p>
                {{ form.spi.label }}<br>
                {{ form.spi(size=6) }}
            </p>

            <p>
                {{ form.row_gauge.label }}<br>
                {{ form.row_gauge(size=6) }}
            </p>

            <p>
                {{ form.yarn.label }}<br>
                {{ form.yarn(size=18) }}
            </p>

            <p>
                {{ form.needles.label }} <br>
                {{ form.needles(size=18) }}
            </p>

            <p>
                {{ form.submit() }}
            </p>

    </form>

{% endblock %}