{% extends "base.html" %}

{% block app_content %}

<h2>What would you like to make?</h2>

    <div class="row">
        
        <div class="col-sm-4">
            <h3>Socks</h3>
            <a href="/sock/design" class="thumbnail">
                <img src="{{ url_for('static', filename='sock/noun_socks_1464270.png') }}" alt="socks by AliWijaya from the Noun Project">
            </a>

        </div>

        <div class="col-sm-4">
            <h3>Mittens</h3>
            <a href="/mitten/design" class="thumbnail">
                <img src="{{ url_for('static', filename='mitten/noun_Mittens_264668.png') }}" alt="By Xinh Studio from the Noun Project">
            </a>
        </div>
        
    </div>

{% endblock %}