<h1 id="custom-top-down-socks">Custom Top-Down Socks</h1>
<h2 id="cuff">Cuff</h2>
<p>Using a flexible method, like long-tail or twisted German, cast on $sock_sts stitches. Join in the round. Work in k1, p1 ribbing for about 2&quot;.</p>
<h2 id="leg">Leg</h2>
<p>Continue even in pattern stitch for $leg_rows rows, to reach $leg_length inches.</p>
<h2 id="heel-flap">Heel Flap</h2>
<p>Slip $heel_sts stitches onto one needle to work for the heel. The remaining stitches will be worked later for the instep. Work back and forth in rows as follows.</p>
<ul>
    <li><em>Heel flap row 1</em>: (RS) Knit $heel_sts, turn work.</li>
    <li><em>Heel flap row 2</em>: (WS) Slip 1 purlwise wyib, purl to end of heel stitches, turn work.</li>
    <li><em>Heel flap row 3</em>: (RS) Slip 1 knitwise wyib, knit to end of heel stitches, turn work.</li>
    <li><em>Heel flap row 4</em>: (WS) Slip 1 purlwise wyif, purl to end of heel stitches, turn work.</li>
</ul>
<p>Repeat <em>heel flap rows</em> 3 and 4 until $heel_rows rows have been worked.</p>
<h2 id="heel-turn">Heel Turn</h2>
<p>Beginning with a right-side row, short-rows are used to form the cup shape of the heel.</p>
<ul>
    <li><em>Heel turn row 1</em>: (RS) Knit $HT1, ssk, turn work.</li>
    <li><em>Heel turn row 2</em>: (WS) Slip 1 purlwise wyif, purl $HT2, p2tog, turn work.</li>
    <li><em>Heel turn row 3</em>: (RS) Slip 1 purlwise wyib, knit $HT2, ssk, turn work.</li>
    <li><em>Heel turn row 4</em>: (WS) Slip 1 purlwise wyif, purl $HT2, p2tog, turn work.</li>
</ul>
<p>Repeat <em>heel turn rows</em> 3 and 4 until all heel stitches have been worked, ending having worked a wrong-side row. [$HT2 + 2 stitches remain]</p>
<p>With RS facing, knit remaining heel stitches.</p>
<h2 id="gusset-decreases">Gusset decreases</h2>
<h3 id="gusset-pick-up-round">Gusset pick-up round</h3>
<p>With RS facing and working under both legs of each slipped selvedge stitch, pick up and knit $gusset_st_per_side along the first side of the heel flap, picking up the last 2 stitches above the break between the heel and instep stitches.</p>
<p>Work across the instep stitches (maintaining stitch pattern).</p>
<p>With RS still facing, pick up and knit $gusset_st_per_side along the other side of the heel flap, picking up the first 2 stitches above the break between the heel and instep stitches as before, then use the same needle to knit half of the remaining heel stitches again.</p>
<p>The rounds now begin in the center of the heel stitches.</p>
<ul>
    <li><em>Gusset round 1</em>: Knit to the end of the heel stitches, knit all picked-up stitches through the back loop to twist them, work across instep stitches in pattern as desired, knit all picked-up stitches through the back loop, knit to end of round.</li>
    <li><em>Gusset round 2</em>: (Decrease round) Knit to 3 stitches before start of instep, k2tog, k1; work across instep stitches; k1, ssk, knit to end of round--2 gusset stitches decreased.</li>
    <li><em>Gusset round 3</em>: Knit.</li>
</ul>
<p>Repeat gusset rounds 2 and 3 until $sock_sts remain.</p>
<h2 id="foot">Foot</h2>
<p>The foot length depends on the number of stitches initially cast on.</p>
<p>If you began with 50 or fewer cast-on stitches, work even (maintaining stitch pattern on instep if desired) until piece measures 1.5&quot; less than the desired finished sock foot length.</p>
<p>Otherwise, work even (maintaining stitch pattern on instep if desired) until the piece measures 2&quot; less than the desired finished sock foot length.</p>
<h2 id="toe">Toe</h2>
<ul>
    <li><em>Toe round 1</em>: (decrease round) Knit to 3 stitches before instep, k2tog, k2, ssk, knit to 3 stitches before end of instep, k2tog, k2, ssk, knit to end of round--4 sts decreased.</li>
    <li><em>Toe round 2</em>: Knit even.</li>
</ul>
<p>Repeat these 2 rounds $TD1 times.</p>
<p>Repeat toe round 1 every round (i.e., decrease every round) $TD2 times.</p>
<h2 id="finishing">Finishing</h2>
<p>Cut yarn, leaving an 8&quot; tail. Thread tail on a tapestry needle, draw through remaining stitches, pull tight to close hole, and secure to wrong side. Weave in loose ends, and block as desired.</p>
